<section class="px-10 py-5 space-y-5">

  <div class="flex items-center justify-between">
    <h1 class="text-2xl font-medium">Reporte de Asistencias</h1>

    <div class="flex items-center text-sm gap-x-2">
      <input type="date" class="input" placeholder="Buscar Día">
      <input type="text" class="input" placeholder="Buscar Practicante">
    </div>
  </div>

  <!-- Start Table -->
  <div class="flex flex-col border rounded-md">
    <div class="-m-1.5 overflow-x-auto">
      <div class="p-1.5 min-w-full inline-block align-middle">
        <div class="overflow-hidden">
          <table class="min-w-full divide-y divide-white">
            <thead class="text-white bg-[var(--color-primary)]">
              <tr>
                <th scope="col" class="px-6 py-3 text-xs font-medium uppercase text-start">Nombre</th>
                <th scope="col" class="px-6 py-3 text-xs font-medium text-center uppercase">Rol</th>
                <th scope="col" class="px-6 py-3 text-xs font-medium text-center uppercase">Área</th>
                <th scope="col" class="px-6 py-3 text-xs font-medium text-center uppercase">Universidad</th>
                <th scope="col" class="px-6 py-3 text-xs font-medium text-center uppercase">Hora reg.</th>
              </tr>
            </thead>
            <tbody class="font-medium text-white uppercase bg-gray-200 divide-y divide-white">

              <tr routerLink="../idAsistencia" class="cursor-pointer hover:bg-white">
                <td class="px-6 py-3 text-sm font-medium text-gray-800 whitespace-nowrap">Juan Daniel Sanchez Pisfil</td>
                <td class="px-6 py-3 text-sm text-center text-gray-800 whitespace-nowrap">SUPERVISOR</td>
                <td class="px-6 py-3 text-sm text-center text-gray-800 whitespace-nowrap">PSICOLOGÍA</td>
                <td class="px-6 py-3 text-sm text-center text-gray-800 whitespace-nowrap">-</td>
                <td class="px-6 py-3 text-sm text-center text-gray-800 whitespace-nowrap">20:13:10</td>
              </tr>

              <tr routerLink="../idAsistencia" class="cursor-pointer hover:bg-white">
                <td class="px-6 py-3 text-sm font-medium text-gray-800 whitespace-nowrap">Juan Daniel Sanchez Pisfil</td>
                <td class="px-6 py-3 text-sm text-center text-gray-800 whitespace-nowrap">ADMINISTRADOR</td>
                <td class="px-6 py-3 text-sm text-center text-gray-800 whitespace-nowrap">-</td>
                <td class="px-6 py-3 text-sm text-center text-gray-800 whitespace-nowrap">-</td>
                <td class="px-6 py-3 text-sm text-center text-gray-800 whitespace-nowrap">20:13:10</td>
              </tr>

              <tr routerLink="../idAsistencia" class="cursor-pointer hover:bg-white">
                <td class="px-6 py-3 text-sm font-medium text-gray-800 whitespace-nowrap">Juan Daniel Sanchez Pisfil</td>
                <td class="px-6 py-3 text-sm text-center text-gray-800 whitespace-nowrap">PRACTICANTE</td>
                <td class="px-6 py-3 text-sm text-center text-gray-800 whitespace-nowrap">PSICOLOGÍA</td>
                <td class="px-6 py-3 text-sm text-center text-gray-800 whitespace-nowrap">UTP</td>
                <td class="px-6 py-3 text-sm text-center text-gray-800 whitespace-nowrap">20:13:10</td>
              </tr>

              <tr routerLink="../idAsistencia" class="cursor-pointer hover:bg-white">
                <td class="px-6 py-3 text-sm font-medium text-gray-800 whitespace-nowrap">Juan Daniel Sanchez Pisfil</td>
                <td class="px-6 py-3 text-sm text-center text-gray-800 whitespace-nowrap">SUPERVISOR</td>
                <td class="px-6 py-3 text-sm text-center text-gray-800 whitespace-nowrap">PSICOLOGÍA</td>
                <td class="px-6 py-3 text-sm text-center text-gray-800 whitespace-nowrap">-</td>
                <td class="px-6 py-3 text-sm text-center text-gray-800 whitespace-nowrap">20:13:10</td>
              </tr>

              <tr routerLink="../idAsistencia" class="cursor-pointer hover:bg-white">
                <td class="px-6 py-3 text-sm font-medium text-gray-800 whitespace-nowrap">Juan Daniel Sanchez Pisfil</td>
                <td class="px-6 py-3 text-sm text-center text-gray-800 whitespace-nowrap">ADMINISTRADOR</td>
                <td class="px-6 py-3 text-sm text-center text-gray-800 whitespace-nowrap">-</td>
                <td class="px-6 py-3 text-sm text-center text-gray-800 whitespace-nowrap">-</td>
                <td class="px-6 py-3 text-sm text-center text-gray-800 whitespace-nowrap">20:13:10</td>
              </tr>

              <tr routerLink="../idAsistencia" class="cursor-pointer hover:bg-white">
                <td class="px-6 py-3 text-sm font-medium text-gray-800 whitespace-nowrap">Juan Daniel Sanchez Pisfil</td>
                <td class="px-6 py-3 text-sm text-center text-gray-800 whitespace-nowrap">SUPERVISOR</td>
                <td class="px-6 py-3 text-sm text-center text-gray-800 whitespace-nowrap">PSICOLOGÍA</td>
                <td class="px-6 py-3 text-sm text-center text-gray-800 whitespace-nowrap">-</td>
                <td class="px-6 py-3 text-sm text-center text-gray-800 whitespace-nowrap">20:13:10</td>
              </tr>

              <tr routerLink="../idAsistencia" class="cursor-pointer hover:bg-white">
                <td class="px-6 py-3 text-sm font-medium text-gray-800 whitespace-nowrap">Juan Daniel Sanchez Pisfil</td>
                <td class="px-6 py-3 text-sm text-center text-gray-800 whitespace-nowrap">ADMINISTRADOR</td>
                <td class="px-6 py-3 text-sm text-center text-gray-800 whitespace-nowrap">-</td>
                <td class="px-6 py-3 text-sm text-center text-gray-800 whitespace-nowrap">-</td>
                <td class="px-6 py-3 text-sm text-center text-gray-800 whitespace-nowrap">20:13:10</td>
              </tr>

              <tr routerLink="../idAsistencia" class="cursor-pointer hover:bg-white">
                <td class="px-6 py-3 text-sm font-medium text-gray-800 whitespace-nowrap">Juan Daniel Sanchez Pisfil</td>
                <td class="px-6 py-3 text-sm text-center text-gray-800 whitespace-nowrap">PRACTICANTE</td>
                <td class="px-6 py-3 text-sm text-center text-gray-800 whitespace-nowrap">PSICOLOGÍA</td>
                <td class="px-6 py-3 text-sm text-center text-gray-800 whitespace-nowrap">UTP</td>
                <td class="px-6 py-3 text-sm text-center text-gray-800 whitespace-nowrap">20:13:10</td>
              </tr>

              <tr routerLink="../idAsistencia" class="cursor-pointer hover:bg-white">
                <td class="px-6 py-3 text-sm font-medium text-gray-800 whitespace-nowrap">Juan Daniel Sanchez Pisfil</td>
                <td class="px-6 py-3 text-sm text-center text-gray-800 whitespace-nowrap">SUPERVISOR</td>
                <td class="px-6 py-3 text-sm text-center text-gray-800 whitespace-nowrap">PSICOLOGÍA</td>
                <td class="px-6 py-3 text-sm text-center text-gray-800 whitespace-nowrap">-</td>
                <td class="px-6 py-3 text-sm text-center text-gray-800 whitespace-nowrap">20:13:10</td>
              </tr>

              <tr routerLink="../idAsistencia" class="cursor-pointer hover:bg-white">
                <td class="px-6 py-3 text-sm font-medium text-gray-800 whitespace-nowrap">Juan Daniel Sanchez Pisfil</td>
                <td class="px-6 py-3 text-sm text-center text-gray-800 whitespace-nowrap">ADMINISTRADOR</td>
                <td class="px-6 py-3 text-sm text-center text-gray-800 whitespace-nowrap">-</td>
                <td class="px-6 py-3 text-sm text-center text-gray-800 whitespace-nowrap">-</td>
                <td class="px-6 py-3 text-sm text-center text-gray-800 whitespace-nowrap">20:13:10</td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
  <div class="flex items-center justify-between px-6">
    <p>192 resultados</p>
    <div class="flex items-center text-sm font-medium gap-x-1">
      <button class="bg-[var(--color-primary)] text-white flex items-center justify-center border rounded-md size-6">1</button>
      <button class=" hover:bg-[var(--color-primary)] hover:text-white flex items-center justify-center border rounded-md size-6">2</button>
      <button class=" hover:bg-[var(--color-primary)] hover:text-white flex items-center justify-center rounded-md size-6">3</button>
      <p class="font-medium">...</p>
    </div>
  </div>
  <!-- End Table -->



</section>
