<section class="px-10 py-10 space-y-10 ">

  <div class="space-y-2 text-center">
    <h1 class="text-2xl font-semibold">REGISTRAR ASISTENCIA</h1>
    <p class="text-sm">Ingrese el DNI y selecciona si está entrando o saliendo.</p>
  </div>

  <div class="flex flex-col space-y-2 text-lg text-center">
    <p class="text-sm uppercase">Hora de Registro</p>
    <p class="font-medium">18/10/2024 - 00:18:23</p>
  </div>

  <form action="" class="flex flex-col max-w-2xl px-10 py-5 mx-auto space-y-5 border rounded-md">
    <div class="flex flex-col space-y-2 text-center">
      <label for="" class="font-medium">Ingrese su DNI</label>
      <input type="text" class="input" style="padding: 10px 20px;" placeholder="Ingrese el DNI">
    </div>

    <div class="flex items-center gap-x-5">
      <button class="w-full text-sm btn-primary">ENTRADA</button>
      <button class="w-full text-sm btn-danger">SALIDA</button>
    </div>
  </form>

</section>
