<section class="flex items-center justify-center h-screen bg-slate-800">


  <div class="flex flex-col px-10 py-10 space-y-6 bg-white rounded-md w-fit">

    <div class="space-y-2 text-center max-w-72">
      <img src="img/logo.PNG" class="size-24 justify-self-center" alt="">
      <h1 class="text-lg font-extrabold leading-6 uppercase">Municipalidad provincial de Chiclayo</h1>
      <p class="text-sm font-medium">Sistema de Control de Asistencias</p>
    </div>

    <form action="" class="flex flex-col space-y-3">
      <input type="text" class="input" placeholder="Ingrese su DNI">
      <input type="password" class="input" placeholder="Ingrese su contraseña">
      <a routerLink="" class="py-1 text-sm font-medium hover:underline underline-offset-4 text-[var(--color-primary)]">¿Olvidó su contraseña?</a>
      <button class="btn-primary">Ingresar</button>

      <div class="flex items-center justify-between">
        <a routerLink="/admin">Admin</a>
        <a routerLink="/asistente">Asistente</a>
      </div>
    </form>

  </div>


</section>
