<section class="px-10 py-5 space-y-5">

  <div class="flex items-center gap-x-3">
    <a routerLink="../overview" class="p-2 text-gray-300 rounded-full hover:text-black">
      <svg class="size-4" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
        <path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z" />
      </svg>
    </a>
    <h1 class="text-2xl font-medium">Registrar Área</h1>
  </div>

  <form (ngSubmit)="onSubmit()" #areaForm="ngForm" class="px-11">

    <div class="w-full space-y-5">
      <div class="flex flex-col space-y-2 text-sm">
        <label for="name">Nombre:</label>
        <input [(ngModel)]="area.name" name="name" required minlength="3" maxlength="25"
        type="text" class="input" placeholder="Ingrese el nombre del área">

        <!-- Validaciones -->
        <div *ngIf="areaForm.controls['name']?.invalid && (areaForm.controls['name']?.touched || areaForm.controls['name']?.dirty)" class="text-xs text-red-500">
          <div *ngIf="areaForm.controls['name']?.errors?.['required']">El nombre es requerido.</div>
          <div *ngIf="areaForm.controls['name']?.errors?.['minlength']">El nombre debe tener al menos 3 caracteres.</div>
          <div *ngIf="areaForm.controls['name']?.errors?.['maxlength']">El nombre no puede exceder los 25 caracteres.</div>
        </div>

      </div>

      <div class="flex flex-col space-y-2 text-sm">
        <label for="nro_vacancies">Número de vacantes:</label>
        <input [(ngModel)]="area.nro_vacancies" name="nro_vacancies" required min="1"
        type="number" class="input" placeholder="Ingrese el número maximo de vacantes">

        <!-- Validaciones -->
        <div *ngIf="areaForm.controls['nro_vacancies']?.invalid && (areaForm.controls['nro_vacancies']?.touched || areaForm.controls['nro_vacancies']?.dirty)" class="text-xs text-red-500">
          <div *ngIf="areaForm.controls['nro_vacancies']?.errors?.['required']">El número de vacantes es requerido.</div>
          <div *ngIf="areaForm.controls['nro_vacancies']?.errors?.['min']">El número de vacantes debe ser mayor a 0.</div>
        </div>
      </div>

      <div class="flex flex-col space-y-2 text-sm">
        <label for="hours_certified">Número de horas mínimas para certificación:</label>
        <input [(ngModel)]="area.hours_certified" name="hours_certified" required min="1"
        type="number" class="input" placeholder="Ingrese el número horas mínimas">

        <!-- Validaciones -->
        <div *ngIf="areaForm.controls['hours_certified']?.invalid && (areaForm.controls['hours_certified']?.touched || areaForm.controls['hours_certified']?.dirty)" class="text-xs text-red-500">
          <div *ngIf="areaForm.controls['hours_certified']?.errors?.['required']">El número de horas mínimas es requerido.</div>
          <div *ngIf="areaForm.controls['hours_certified']?.errors?.['min']">El número de horas mínimas debe ser mayor a 0.</div>
        </div>
      </div>

      <div class="flex flex-col space-y-2 text-sm">
        <label for="status">Estado:</label>
        <select [(ngModel)]="area.status" name="status" class="input" required>
          <option [value]="true">Habilitado</option>
          <option [value]="false">Deshabilitado</option>
        </select>
      </div>

      <div class="flex items-center gap-x-2">
        <button type="submit" class="w-full text-sm btn-primary disabled:text-black disabled:bg-white disabled:border-gray-200 disabled:pointer-events-none" [disabled]="areaForm.invalid">Registrar Área</button>
        <a routerLink="../overview" class="w-full px-4 py-2 text-sm font-medium text-center border rounded-md hover:bg-gray-100">Cancelar</a>
      </div>
    </div>

  </form>


</section>
