<section class="w-full h-full px-20 py-10 space-y-10">

  <div class="flex items-center gap-x-3">
    <a routerLink="../.." class="p-1 text-gray-500 rounded-full hover:text-black hover:bg-gray-200">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="lucide lucide-chevron-left size-5">
        <path d="m15 18-6-6 6-6" />
      </svg>
    </a>
    <h1>Registrar Área Laboral</h1>
  </div>

  <form (ngSubmit)="addAreaUniversity()" class="grid grid-cols-2 px-10 gap-x-10 gap-y-7">
    <div class="flex flex-col space-y-2">
      <label for="area" class="text-sm font-medium">Área:</label>
      <input type="text" id="area" name="area" [value]="selectedArea?.name" class="input" disabled >
      <div class="flex justify-between px-4 py-1 text-xs font-medium">
        <p class=" text-primary">Nro de vacantes disponibles: {{ selectedArea?.nroVacancies }}</p>
        <a routerLink="/admin/areas/{{ selectedArea?.idArea }}" class="hover:underline underline-offset-4">Ver área</a>
      </div>
    </div>

    <div class="flex flex-col space-y-2">
      <label for="universidad" class="text-sm font-medium">Universidad:</label>
      <select [(ngModel)]="selectedUniversityId" name="universidad" id="universidad" class="input">
        <option *ngFor="let university of universities" [value]="university?.idUniversity">
          {{ university.name }}
        </option>
      </select>
    </div>

    <div class="flex flex-col col-span-2 space-y-2">
      <label for="certifiedHours" class="text-sm font-medium">Número de horas para certificación:</label>
      <input type="number" [(ngModel)]="certifiedHours" id="certifiedHours" name="certifiedHours" class="input" placeholder="Ingrese el número de horas">
    </div>

    <button class="w-full btn-primary">Registrar</button>
    <a routerLink="../.." class="w-full btn-secondary">Cancelar</a>

  </form>
</section>
