<section class="w-full h-full px-20 py-10 space-y-10">
  <h1>Perfil de Usuario</h1>

  <article class="grid grid-cols-[auto_1fr] px-10 gap-x-10">
    <div class="bg-gray-100 rounded-full size-40">
      <img src="img/user.webp" alt="" class="object-cover p-2 rounded-full">
    </div>

    <div class="space-y-2">
      <div class="flex items-center gap-x-10">
        <h1 class="capitalize">{{ currentUser?.name }} {{ currentUser?.lastname }}</h1>
        <section class="flex items-center gap-x-2">
          <div [ngClass]="{'bg-green-500': currentUser?.status, 'bg-red-500': !currentUser?.status}" class="rounded-full size-3"></div>
          <p class="text-sm font-medium">{{ currentUser?.status ? 'Activo' : 'Inactivo' }}</p>
        </section>
      </div>
      <div class="flex items-center gap-x-3">
        <p class="text-sm">ID Usuario:</p>
        <p class="text-sm font-semibold">{{ currentUser?.idUser }}</p>
      </div>
      <div class="flex items-center gap-x-3">
        <p class="text-sm">Rol:</p>
        <p class="text-sm font-semibold">{{ currentUser?.role?.name }}</p>
      </div>
      <div class="flex items-center gap-x-3">
        <p class="text-sm">DNI:</p>
        <p class="text-sm font-semibold">{{ currentUser?.dni }}</p>
      </div>
      <div class="flex items-center gap-x-3">
        <p class="text-sm">Fecha de Nacimiento:</p>
        <p class="text-sm font-semibold">{{ currentUser!.birthdate | localDate }}</p>
      </div>
      <div class="flex items-center gap-x-3">
        <p class="text-sm">Fecha de Registro:</p>
        <p class="text-sm font-semibold">{{ currentUser!.createdAt | localDate }}</p>
      </div>
      <div class="flex items-center gap-x-3">
        <p class="text-sm">Fecha de Modificacion:</p>
        <p class="text-sm font-semibold">{{ currentUser!.updatedAt | localDate }}</p>
      </div>

      <div class="flex items-center py-5 gap-x-2">
        <!-- <a routerLink="editar" class="btn-primary">Editar</a> -->
      </div>
    </div>
  </article>
</section>
