<section class="w-full min-w-full space-y-5">

  <h1 class="text-2xl font-medium">Dashboard</h1>

  <div class="grid w-full grid-cols-4 gap-x-5">

    <article class="rounded-md bg-[var(--color-primary)] min-w-60 w-full">
      <div class="p-4 text-white">
        <h1 class="text-3xl font-bold">150</h1>
        <p class="text-sm">Practicantes</p>
      </div>

      <a routerLink=""
        class="py-2 underline-offset-4 hover:underline text-sm rounded-b-md text-white bg-[var(--color-primary-dark)] flex items-center justify-center gap-x-3">
        Ver más
        <div class="p-1 bg-white rounded-full">
          <svg class="size-3 text-[var(--color-primary-dark)]" fill="currentColor" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 448 512">
            <path
              d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z" />
          </svg>
        </div>
      </a>
    </article>

    <article class="bg-red-600 rounded-md min-w-60">
      <div class="p-4 text-white">
        <h1 class="text-3xl font-bold">15</h1>
        <p class="text-sm">Universidades</p>
      </div>

      <a routerLink=""
        class="flex items-center justify-center py-2 text-sm text-white bg-red-800 underline-offset-4 hover:underline rounded-b-md gap-x-3">
        Ver más
        <div class="p-1 bg-white rounded-full">
          <svg class="text-red-800 size-3" fill="currentColor" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 448 512">
            <path
              d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z" />
          </svg>
        </div>
      </a>
    </article>

    <article class="bg-yellow-500 rounded-md min-w-60">
      <div class="p-4 text-black">
        <h1 class="text-3xl font-bold">15</h1>
        <p class="text-sm">Trabajadores</p>
      </div>

      <a routerLink=""
        class="flex items-center justify-center py-2 text-sm text-white bg-yellow-600 underline-offset-4 hover:underline rounded-b-md gap-x-3">
        Ver más
        <div class="p-1 bg-white rounded-full">
          <svg class="text-yellow-600 size-3" fill="currentColor" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 448 512">
            <path
              d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z" />
          </svg>
        </div>
      </a>
    </article>

    <article class="bg-green-600 rounded-md min-w-60">
      <div class="p-4 text-white">
        <h1 class="text-3xl font-bold">15</h1>
        <p class="text-sm">Trabajadores</p>
      </div>

      <a routerLink=""
        class="flex items-center justify-center py-2 text-sm text-white bg-green-700 underline-offset-4 hover:underline rounded-b-md gap-x-3">
        Ver más
        <div class="p-1 bg-white rounded-full">
          <svg class="text-green-700 size-3" fill="currentColor" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 448 512">
            <path
              d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z" />
          </svg>
        </div>
      </a>
    </article>
  </div>


</section>
