<section class="px-10 py-5 space-y-5">

  <div class="flex items-center gap-x-3">
    <a routerLink="../../overview" class="p-2 text-gray-300 rounded-full hover:text-black">
      <svg class="size-4" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
        <path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z" />
      </svg>
    </a>
    <h1 class="text-2xl font-medium">Editar Universidad</h1>
  </div>

  <form action="" class="items-center grid grid-cols-[auto_1fr] gap-x-10">

    <div class="w-full px-10">
      <div data-hs-file-upload='{
        "url": "/upload",
        "acceptedFiles": "image/*",
        "maxFiles": 1,
        "singleton": true
      }'>
        <template data-hs-file-upload-preview="">
          <div class="size-40">
            <img class="object-contain w-full rounded-full" data-dz-thumbnail="">
          </div>
        </template>

        <div class="flex flex-col items-center gap-3 sm:gap-5">
          <div class="group" data-hs-file-upload-previews="" data-hs-file-upload-pseudo-trigger="">
            <span
              class="group-has-[div]:hidden flex shrink-0 justify-center items-center size-32 border-2 border-dotted border-gray-300 text-gray-400 cursor-pointer rounded-full hover:bg-gray-50 ">
              <svg fill="currentColor" class="shrink-0 size-10" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 448 512">
                <path
                  d="M96 0C43 0 0 43 0 96L0 416c0 53 43 96 96 96l288 0 32 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l0-64c17.7 0 32-14.3 32-32l0-320c0-17.7-14.3-32-32-32L384 0 96 0zm0 384l256 0 0 64L96 448c-17.7 0-32-14.3-32-32s14.3-32 32-32zm32-240c0-8.8 7.2-16 16-16l192 0c8.8 0 16 7.2 16 16s-7.2 16-16 16l-192 0c-8.8 0-16-7.2-16-16zm16 48l192 0c8.8 0 16 7.2 16 16s-7.2 16-16 16l-192 0c-8.8 0-16-7.2-16-16s7.2-16 16-16z" />
              </svg>
            </span>
          </div>

          <div class="grow">
            <div class="flex items-center gap-x-2">
              <button type="button" class="flex items-center text-sm btn-primary gap-x-2"
                data-hs-file-upload-trigger="">
                <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round">
                  <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
                  <polyline points="17 8 12 3 7 8"></polyline>
                  <line x1="12" x2="12" y1="3" y2="15"></line>
                </svg>
                Subir foto
              </button>
              <button type="button"
                class="px-4 py-2 text-sm font-medium border border-gray-300 rounded-md hover:bg-gray-100"
                data-hs-file-upload-clear="">Quitar</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="w-full space-y-5">
      <div class="flex flex-col space-y-2 text-sm">
        <label for="">Nombre:</label>
        <input type="text" class="input" placeholder="Ingrese el nombre de la Universidad">
      </div>

      <div class="flex flex-col space-y-2 text-sm">
        <label for="">Estado:</label>
        <select class="input" name="" id="">
          <option value="habilitado">Habilitado</option>
          <option value="deshabilitado">Deshabilitado</option>
        </select>
      </div>

      <div class="flex items-center gap-x-2">
        <button type="submit" class="w-full text-sm btn-primary">Guardar Cambios</button>
        <button type="submit" class="w-full px-4 py-2 text-sm font-medium border rounded-md hover:bg-gray-100">Cancelar</button>
      </div>
    </div>

  </form>


</section>
